---
 Front matter
---

/* Keha */
body {
  max-width: 50em; 
  margin: 0 0; 
  padding: 1.6em 1.5em 2em 1em; 
  line-height: 1.2;
  font-family: 'Times New Roman', serif;
  font-size: 14pt; 
  color: #424242;  /* Grey 800 */
  }

/* ---- Paigutus ---- */
#Container { display: flex; }

#Tekst {
  flex-grow: 1; margin-left: 2rem;
  max-width: 53rem; /* Teksti loetavuse huvides */
}

/* Külgriba */

#Riba {
  flex-grow: 0; width: 18rem;
  padding: 0 1rem 2rem 1rem;
  background-color: Azure;
}
.RibaElement { display: block; line-height: 1.75; }

.lyliti {
  cursor: pointer;
  color: #FF5252; /* Material design A200 
  https://material.io/guidelines/style/color.html#color-color-palette */
}

/* Pealdised */
h1, h2, h3 { line-height: 1.2; }
h1, h2 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif; 
  margin-top: 1em; }
h1 { font-size: 170%; }  
h2 { font-size: 130%; }
h3 { font-family: 'Times New Roman', serif;
  font-size: 14pt; font-weight: normal;
  text-decoration: underline; margin: 1em 0; }

/* Lõigud ja loetelud */
p { margin: 1em 0; }

li > p:first-child { margin-top: 0; }
ul, ol { 
  font-family: 'Anonymous Pro', sans-serif;
  margin-left: 0; padding-left: 2em; }
li { margin: 0.25em 0 0.5em; padding: 0; }

nav ul { list-style-type: none; }

/* Tekst */
.lead { font-family: 'Anonymous Pro', sans-serif; }
.disabled { color:#000000; opacity:0.38; }

/* Bibliograafia üksus */
.ref { font-size: 12pt; }
.a { margin-left: 4em; font-style: italic; color: #607D8B; }

/* Redigeerimisnupp */
.edit { 
  color: #E0E0E0; font-size: 24px; cursor: pointer;
  position: absolute; right: 5px; top: 5px;
  text-decoration:none;
}
a[href] .edit { color: #E0E0E0; text-decoration:none; }

/* Plokktsitaat */
blockquote { 
  font-style: italic; 
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  margin-left: 0;
}

/* Kood; asciiflow joonised */
pre, code, samp {
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  overflow-y: hidden; overflow-x: hidden;
  page-break-inside: avoid; hyphens: none;
  text-transform: none;
}
pre code,
code code {
  font-size: 100%;
}
pre { margin-top: 1em; margin-bottom: 1em; }

/* Lingid */
a[href] {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 1px solid #607D8B;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}
a:visited {
  border-bottom-color: #607D8B;
}

a[href]:focus,
a[href]:hover {
  background: #607D8B;
  background: rgba(75%, 75%, 75%, .25);
  border-bottom-width: 3px;
  margin-bottom: -2px;
}
a[href]:active {
  color: #C00;
  border-color: #C00;
}

/* //// Material design ikoonid //// */
.ikoon { color: #00acc1; font-size: 48px !important; }
