<div class="Riba">
  <div class="RibaKleepuv">
    <p>
      <a href="{{ site.baseurl }}">
        {{ site.title }}
      </a>
    </p>

    <div class="RibaLoetelu">
      {% assign pages_list = site.pages | sort:"nr" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "note" %}
            {% if node.publish == true %}
              <a class="RibaElement{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    
  </div>
</div>
